.head-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .head-links li {
    margin: 1.5rem;
    font-size:1.5rem;
    font-weight: bold;
  }
  
  .head-links a {
    border: 1px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 0.5rem;
    margin-left:12rem;
  
  }
  .head-links p{
      text-align:right;
  }

  
  .head-links a:hover,
  .head-links a:active,
  .head-links a.active {
   
    color: rgb(0, 0, 0);
  }
  
  .head-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  }
  
  .head-links button:focus {
    outline: none;
  }
  
  .head-links button:hover,
  .head-links button:active {
    background: #292929;
    color: rgb(26, 23, 23);
  }
  
  @media (min-width: 768px) {
    .head-links {
      flex-direction: row;
    }
  
    .head-links li {
      margin: 0 0.5rem;
    }
  
    .head-links a {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
  
    .head-links button {
      border: 1px solid rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      background: transparent;
    }
    
    .head-links button:hover,
    .head-links button:active {
      background: #a2bad6;
      color: #292929;
    }
  }
  