.nav-header {
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color:white;
    background: #608683;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
    padding: 0.5rem 0.5rem;
  
  }
  .nav-header div{
    display:inline;
  font-size:2rem;
  font-weight: bold;
  margin:1rem;
  margin-right:15rem;

}
  

  
  @media (min-width: 768px) {
    .main-header {
      justify-content: space-between;
    }
  }
  .main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }
  
  .main-navigation__title {
    color: white;
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: white;
  }
  
  .main-navigation__header-nav {
    display: none;
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: block;
    }
  }
  @media (min-width: 768px) {
    .head-links {
      flex-direction: row;
    }
  
    .head-links li {
      margin: 0 0.5rem;
    }
  
  
  
    
  }
  