body{
  background:#f2f2f2;
}
.header{
    list-style-type: none;
    }
    
  
  .headerimg{
    
    min-width: 100%;
    height:auto;
  }
.bannerimg{
width:80%;
margin:auto 15rem;

}


    .driver_div{
       
        -webkit-border-radius:3rem;
        -moz-border-radius:3rem;
        -o-border-radius:3rem;
        width:20rem;
        height:20rem;
        border:5px  rgba(56, 54, 41, 0.705) double;
        background-color:#0f0f0f;
        padding:3.8rem;
        margin:auto 11rem;
        color:white;
        font-size:3.5rem;
        text-align: center;
        float:left;
      }
      .rider_div{
       
        -webkit-border-radius:3rem;
        -moz-border-radius:3rem;
        -o-border-radius:3rem;
        width:20rem;
        height:20rem;
        border:5px rgba(56, 54, 41, 0.705) double;
        background-color:#0f0f0f;
        padding:4.3rem;
        margin:auto 11rem;
        float:left;
        color:white;
        font-size:3.5rem;
        text-align: center;
      }
    
    .driver_div:hover{
      
        background:#1f1e1d;
            transform: translateY(-0.3rem);
        transition: transform 150ms;
    }
    .rider_div:hover{
    
      background:#1f1e1d;
      transform:translateY(-0.3rem);
      transition: transform 150ms;
    }

    .bottom-right {
      width:50%;
      position: absolute;
      font-size:1.5rem;
      top: 15rem;
      left: 10rem;
      color:white;
    }

    .bg-img {
      position: relative;
      width: 100%;
  
   /** background-image: url("");
    background-size: 100% 100%; **/
  }
  .span_heading1{
    color:rgb(224, 224, 10);
    font-size:3rem;
    font-weight: 600;
  }
  .span_heading2{
    margin:3rem 0;
    font-size:3.5rem;
    font-weight: 700;
    display:block;
  }
  .enquiry{
    margin-top:2rem;
    background:#298d78;
    color:white;
    padding:1rem;
    font-size:1.5rem;
    border-radius: 6px;
  }